<h1>Details..</h1>
<br>
		<p>Title: <%= @disaster.title %></p>
		<p>Category: <%= @disaster.category.category_name%>
		<p>Content: <%= @disaster.content %><br>
		<p>post Date: <%= @disaster.post_date %><br>
<br>


